*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: 100%;
    display: block;
    max-width: 100%;
}

ul {
    list-style: none;
}

a,
input {
    font-size: inherit;
    color: inherit;
    background: inherit;
    text-decoration: none;
}

.main-font {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 18px;
}

:root {
    --width-icon: 32px;
    --theme-color: #abd809;
    --theme-font-color: #FF4141;
    --theme-font-color--hover: #F40000;
    --btn-bg-hover: #2c343b;
    --bg-cards: #f0f3f3;
    --size-index: 1vw;
    --color-font-main-gray: #4c5b5c;
    --color-font-light: #ffffff;
    --color-border-light-gray: #e8e8e8;

    --time-transition: .5s;
    --duration__open: 1s;
    --padding-cities: 10px;

}

.body{
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.wrapper {
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

/* HEADER */

.header {
    padding-top: 40px;
    padding-bottom: 30px;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header-title-block {
    display: flex;
    gap: 20px;
    align-items: inherit;
}

.box {}

.logo {
    max-width: 165px;
}

.header-title {
    font-size: 20px;
}

.info-block {
    display: flex;
    gap: 30px;
    font-size: 18px;
}

.info-block-shedule,
.info-block-contacts {
    display: flex;
    gap: 15px;
}

.info-block-shedule {}

.time-work {
    display: flex;
}

.time-work__icon {
    width: var(--width-icon);
}

.time-work__content {
    display: flex;
    flex-direction: column;
}

.time-work__content .text {
    display: flex;
    gap: 15px;
}

.week {
    min-width: 55px;
    text-align: right;
    white-space: nowrap;

}

.time {
    width: 70%;
    text-align: end;
}

.info-block__recall {
    color: var(--theme-color);
    text-decoration: underline;
    align-self: center;
}

.info-block-contacts {}

.info-block__contacts-icon {
    width: var(--width-icon);
}

.time-work__icon,
.info-block__contacts-icon {
    padding-top: 5px;
}

.info-block .icon img {
    height: auto;
}

.phone-number {
    font-size: 20px;
}

.phone-number a:hover {
    color: var(--theme-color);
    transition: all var(--time-transition);
}

.header-bottom {
    border-top: 3px solid #ebeeee;
    color: var(--color-font-main-gray);
}

.menu-items {
    --height-menu: 70px;
    display: flex;
    gap: 30px;
    height: var(--height-menu);
    line-height: var(--height-menu);
    align-items: center;
    width: 70%;
    justify-content: space-evenly;
}

.menu-item {
    height: 100%;
    white-space: nowrap;
}

.header-bottom .menu-item:hover {
    color: var(--theme-color);
    border-bottom: 5px solid var(--theme-color);
    transition: all var(--time-transition);
}

/* advantage */
.advantage {
    padding-top: 100px;
    padding-bottom: 50px;
}

.advantage h1 {
    font-size: 60px;
    text-align: center;
    color: var(--theme-font-color);
    margin-bottom: 30px;
}

.advantage-items {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.advantage-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px 20px;
}



.advantage-item__wrapper {
    display: inline-block;
    /* Добавьте это, чтобы обертка занимала только ширину и высоту контента */
    position: relative;
}

.advantage-item__icon {
    font-size: 50px;
    width: 83px;
    height: 83px;
    border: 2px solid #cccccc;
    transform: rotate(45deg);
    border-radius: 7px;
    text-align: center;
    position: relative;
    margin: 0 auto;
    transition: all linear .35s;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.advantage-item__icon::before {
    display: block;
    transform: rotate(-45deg);
    color: #FF4141;
    font-size: 50px;
    transition: all linear .35s;
}

.advantage-item:hover .advantage-item__icon {
    transform: rotate(0deg);
    transition: all linear .35s;
    background-color: #FF4141;
    border-color: #FF4141;
}

.advantage-item:hover .advantage-item__icon::before {
    transform: rotate(0deg);
    transition: all linear .35s;
    color: #ffffff;
}

.advantage-item-content {
    font-size: 15px;
    text-align: center;
}

.advantage-item-content__title {
    margin-bottom: 15px;
}

.advantage-item-content__text {
    line-height: 1.5;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.7);
}


/* kind-fence */

.kind-fence-blocks {
    display: flex;
    flex-wrap: wrap;
    border-left: 1px solid #8d948f;
    border-top: 1px solid
}

.kind-fence .block {
    border-right: 1px solid #8d948f;
    border-bottom: 1px solid #8d948f;
    height: 290px;
    box-sizing: border-box;
    z-index: 3;
    padding-top: 56px;
    padding-bottom: 45px;
    text-align: center;
    transition: .5s background;
    position: relative;
    width: 25%;
    height: auto;
    font-size: 18px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.kind-fence .block .image_block {
    height: 110px;
    margin-bottom: 5px;
}

.kind-fence .block .image_block .image_1,
.kind-fence .block .image_block .image_2 {
    width: 100%;
    height: 100%;
    /* position: absolute; */
    left: 0;
    top: 0;
}

.kind-fence .block .image_block .image_1 {
    opacity: 1;
    visibility: visible;
    transition: .5s opacity, .5s visibility;
}



.kind-fence .block .image_block .image_2 {
    opacity: 0;
    visibility: hidden;
    transition: .5s opacity, .5s visibility;
    width: 0;
    height: 0;
}

.kind-fence .block .price {
    transition: .5s opacity, .5s visibility;
    font-size: 18px;
}

.green_button {
    background-color: var(--theme-color);
    color: #000;
    font-weight: 500;
    text-align: center;
    display: block;
    position: relative;
    cursor: pointer;
    line-height: 43px;
    transition: .3s background-color;
}

.block .green_button {
    /* position: absolute; */
    margin-top: 37px;
    width: 195px;
    margin: 0 auto;
    /* left: 50%; */
    /* margin-left: -97px; */
    opacity: 0;
    visibility: hidden;
    transition: .0s opacity, .0s visibility, .0s background-color;
}

.block:hover .ah2,
.block:hover .image_block .image_1 {
    opacity: 0;
    visibility: hidden;
    width: 0;
    height: 0;
}

.block:hover .image_block .image_2 {
    width: 100%;
    height: 100%;
}

.block:hover .image_block .image_2,
.block:hover .price,
.block:hover .green_button {
    opacity: 1;
    visibility: visible;
}

.block:hover .green_button {
    transition: .5s opacity, .5s visibility, .3s background-color;

}

/* faq */

.faq-title {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}

.faq--margins {
    padding-top: 30px;
    padding-bottom: 30px;
}

.faq-accordion__wrapper,
.work-region .conteiner {
    border-radius: 7px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 15px;
}

.answer {
    /* opacity: 0; */
    /* visibility: hidden; */
    width: 100%;
    max-height: 0px;
    overflow: hidden;
    transition: var(--duration__open) max-height;
}

.accordion__item {
    position: relative;
}

.accordion__description {
    padding-left: 25px;
    padding-left: 25px;
    display: block;
    width: 100%;
    height: auto;
    position: relative;
}


.accordion__description::before {
    content: "+";
    position: absolute;
    left: 0;
    top: 0;
    font-size: 30px;
    font-weight: 900;
    line-height: 1;
    transform: rotate(0deg);
    transition: var(--duration__open) transform;
}

.ac-radio {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
}

.ac-radio:checked~label .answer {
    /* opacity: 1; */
    /* visibility: visible; */
    width: 100%;
    max-height: 500px;
    transform: rotate(0deg);
    transition: var(--duration__open) max-height;

}

.ac-radio:checked~.accordion__description::before {
    transform: rotate(135deg);
    transition: var(--duration__open) transform;
}

.accordion__item .question {
    font-size: 25px;
    font-weight: 700;
}

.accordion__item .answer {
    font-size: 21px;
    font-weight: 400;
}

.answer p {
    margin-top: 15px;
}

.answer p+p {
    margin-top: 10px;
}

.faq-title--margins {
    margin-bottom: 20px;
}

/* contact-form */

.contact-form__title {
    font-size: 40px;
    font-weight: 700;
}

.contact-form--margins {
    padding-top: 30px;
    padding-bottom: 30px;
}

.contact-form__description {
    line-height: 1.5;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.7);
}

.contact-form-content {
    width: 100%;
    display: flex;
    gap: 30px;
    justify-content: space-between;

}

.form {}

.form-wrapper {
    width: 100%;
    padding: 20px 50px 20px 0px;
}

.form-fields {
    display: flex;
    gap: 30px;
}

.form-fields input::placeholder {
    font-weight: bold;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    opacity: 0.5;
    color: var(--color-font-main-gray);

}

.form-field {
    border: 0;
    background: none;
    border-bottom: solid 1px #8c8c8c;
    width: 50%;
    margin-bottom: 60px;
    font-size: 18px;
    line-height: 45px;
    outline: none;
}

.form-field:focus {
    outline: none;
    border: 0px;
    border-bottom: solid 1px #8c8c8c;
}



.contacts {}

.contacts-wrapper {
    border: 2px solid #dcdcdc;
    -webkit-border-radius: 5px;
    border-radius: 8px;
    padding: 30px 55px;
}

.contacts-wrapper .phone-number {
    color: var(--theme-font-color);
    font-size: 35px;
    white-space: nowrap;
}

.contacts-wrapper .phone-number a:hover {
    color: var(--theme-font-color--hover);
}

.contacts-shedule-text {
    text-align: center;
    font-size: 20px;
}

.shedule-text--margins {
    margin-top: 20px;
}

.submit-btn {
    width: fit-content;
    margin: 0 auto;
}

.button {
    border: 0px;
    font-size: 20px;
    font-weight: 700;
    font-family: Roboto, sans-serif;
    padding: 14px 51px;
    /* line-height: 23px; */
    text-transform: uppercase;
    color: var(--color-font-light);
    background: var(--theme-font-color);
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: none;
    outline: none;
}

.button:hover {
    background-color: var(--btn-bg-hover);
    border-color: var(--btn-bg-hover);
    transition: all var(--time-transition);
}

.button:active {
    transform: scale(0.98);
}

/* work-region */

.work-region {}

.work-region--margins {
    padding: 30px 0px;
}

.wrapper {}


.work-region .conteiner {
    padding: 25px 30px;
    margin: 20px auto;
    /* border: 1px solid var(--color-border-light-gray); */
    background: var(--color-font-light);
    /* box-shadow: 3px 3px 0px 1px rgba(0, 0, 0, 0.06);
    border-radius: 4px; */
}

.work-region__conteiner {
    border-left: 5px solid var(--theme-font-color);
}

.conteiner-title {}

.list-cities--margins {
    margin-top: 15px;
}

.list-cities ul {
    display: flex;
    color: var(--theme-font-color);
}

.list-cities li:not(:last-child) {
    padding-right: var(--padding-cities);
}

.list-cities ul li+li {
    border-left: 1px solid var(--color-font-main-gray);
    padding-left: var(--padding-cities);
}

.list-cities li:hover {
    color: var(--theme-font-color--hover);
}

/* footer */
.footer {
    border-top: 1px solid #b7b7b7;
    padding-top: 30px;
}

.wrapper {}

.footer-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.trade-mark {}

.annotation {}

.politic-link {
    color: #000000;
    transition: var(--time-transition) color;
}

.politic-link:hover {
    color: var(--theme-font-color--hover);
    transition: var(--time-transition) color;
}

.soc-links {}

.soc-icon::before {
    font-size: 35px;
    border-radius: 50%;
    text-align: center;
    border: 1px solid #b7b7b7;
    transition: all ease .45s;
    padding: 10px;
    color: var(--theme-font-color);
    cursor: pointer;
}

.soc-icon:hover::before {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
    transition: all ease .45s;
    border-color: transparent;
    color: var(--theme-font-color--hover);
}



.soc-list {
    display: flex;
    gap: 20px;


}

.icon-facebook {}

.icon-vk {}

.icon-instagram {}

.icon-twitter {}

.call-now {}

.call-now h2 {
    font-size: 40px;
    font-weight: 700;
}

.call-now p {
    font-size: 16px;
    font-weight: 500;
}

.develop {
    color: #996969;
}


.fixbutton {
    position: fixed !important;
    margin: 0 !important;
    bottom: 20px;
    right: 20px;
}

.dingovaila-besticsia {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    padding: 15px 30px;
}

@keyframes radial-pulse {
    0% {
        box-shadow: 0 0 0 0px rgba(23, 22, 22, 0.5);
    }

    15% {
        box-shadow: 0 0 0 40px rgba(255, 255, 255, 0);
    }

    100% {
        box-shadow: 0 0 0 0px rgba(255, 255, 255, 0);
        ;
    }
}


.calculate {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border: 2.3px solid #acafb7;
    animation: radial-pulse 6s infinite;
    animation-delay: 2s;
    margin: 40px 0 30px 0;
}

/* install-description */

.install-description-inner {
    display: flex;
    gap: 20px;
}

.content-title {
    font-size: 30px;
}

.content-text strong {
    line-height: 180%;
}

.install-description-content {
    padding: 15px 20px 0px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.install-description-image {
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px 0px;
    width: 60%;
}

.install-description-image img {
    display: block;
    height: 100%;
    max-width: 100%;
    object-fit: cover;
}

.install-description-control {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.install-description-control .button {
    width: fit-content;
}

.price-install {
    font-size: 30px;
    font-weight: 900;
}

.button {}

/* install-steps */

.install-steps {}

.wrapper {}

.install-steps-inner {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.title {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}

.steps-content {
    display: flex;
    gap: 20px;
}

.install-steps-item {
    width: 25%;
}

.install-steps-item--margins {}

.install-steps__image-content {
    position: relative;
}
.install-steps__image-content  img{
    max-width: 305px;
}

.install-steps__image-content .step-number {
    background: var(--theme-color);
    color: var(--color-font-light);
    left: 0;
    bottom: 13px;
    font-size: 35px;
    line-height: 43px;
    text-align: center;
    width: 37px;
    position: absolute;
}

.install-step-text {
    background: var(--bg-cards);
    box-sizing: border-box;
    min-height: 229px;
    height: fit-content;
    padding: 33px 20px 35px 26px;
    overflow: hidden;

}

.install-step-text h3{
    font-size: 25px;
    text-align: left ;
    margin-bottom: 15px;
}

.install-step-text .text {
    line-height: 1.5;
    font-weight: 400;
}