*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: auto;
    width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

img {
    width: 100%;
    height: 100%;
    display: block;
    max-width: 100%;
}

ul {
    list-style: none;
}

a,
input {
    font-size: inherit;
    color: inherit;
    background: inherit;
    text-decoration: none;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
}

td,
th {
    vertical-align: top;
    word-wrap: break-word;
}

.main-font {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: var(--size-font);
}

@media screen and (max-width: 500px) {
    .main-font {
        --size-font: 15px;
    }
}

:root {
    --width-icon: 32px;
    --theme-color: orange;
    /* --theme-color: #abd809; */
    /* --theme-font-color: #FF4141; */
    --theme-font-color: orange;
    --theme-font-color--hover: #F40000;
    --btn-bg-hover: #2c343b;
    --bg-cards: #f0f3f3;
    --size-index: 1vw;
    --size-font: 18px;
    --color-font-main-gray: #4c5b5c;
    --color-font-light: #ffffff;
    --color-border-light-gray: #e8e8e8;

    --time-transition: .3s;
    --duration__open: 1s;
    --padding-cities: 10px;
    --top-position-burger: 0px;

}

.body {
    display: flex;
    flex-direction: column;
    gap: 100px;

}

@media screen and (max-width: 1000px) {
    .body {
        gap: 20px;
    }

}

.lock {
    overflow: hidden;
}

.wrapper {
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

/* HEADER */

.header {
    padding-top: 40px;
    padding-bottom: 30px;
    position: relative;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    gap: 0px 15px;
}

@media screen and (max-width: 1000px) {
    .header-top {
        gap: 10px;
    }

}

.header-title-block {
    display: flex;
    gap: 20px;
    align-items: inherit;
    flex: 1;
}

.phone-mobile {
    display: none;
}

@media screen and (max-width: 1000px) {
    .header-menu {
        position: absolute;
        top: 0px;
        right: -130%;
        background-color: #4c5b5cf7;
        width: 100%;
        height: 100vh;
        color: var(--color-border-light-gray);
        z-index: 4;
        padding-right: 70px;
        transition: right 1s;
    }

    .header-menu__active {
        right: 0%;
        transition: right 1s;
        overflow-y: scroll;
    }

    .phone-mobile {
        margin-top: 25px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: end;
        position: relative;
        top: var(--top-position-burger);
    }
}

.logo {
    max-width: 165px;
}

.header-title {
    font-size: 20px;
    flex: 1;
    align-self: center;
    text-align: center;
}

.info-block {
    display: flex;
    gap: 30px;
    font-size: 18px;
}

@media screen and (max-width: 1280px) {

    .header-title {
        font-size: calc(var(--size-index) * 1.4);
    }

    .info-block {
        font-size: calc(var(--size-index) * 1.4);
    }

}

@media screen and (max-width: 1000px) {
    .info-block {
        margin-top: 20px;
        font-size: calc(var(--size-index) * 1.5 + 5px);
    }

    .header-title-block {
        flex-wrap: wrap;
    }

    .header-title {
        font-size: calc(var(--size-index) * 2.2);
        margin: 0 0 0 auto;
    }
}

@media screen and (max-width: 500px) {
    .header-title {
        font-size: calc(var(--size-index) * 3);
    }

    .info-block {
        justify-content: space-between;
        flex-wrap: wrap;
        font-size: calc(var(--size-index) * 1.5 + 7px);
    }

    .header-title-block {
        justify-content: center;
    }

}

.info-block-shedule,
.info-block-contacts {
    display: flex;
    gap: 15px;
}

@media screen and (max-width: 500px) {

    .info-block-shedule,
    .info-block-contacts {
        /* margin: auto; */
    }
}

.time-work {
    display: flex;
}

.time-work__icon {
    width: var(--width-icon);
}

.time-work__content {
    display: flex;
    flex-direction: column;
}

.time-work__content .text {
    display: flex;
    gap: 15px;
}

.week {
    min-width: 43px;
    text-align: right;
    white-space: nowrap;
}

.time {
    width: 70%;
    text-align: end;
}

.info-block__recall {
    color: var(--theme-color);
    text-decoration: underline;
    align-self: center;
}

.info-block__contacts-icon {
    width: var(--width-icon);
}



.time-work__icon,
.info-block__contacts-icon {
    padding-top: 5px;
}

.info-block .icon {
    font-size: 33px;
    color: var(--theme-color);
}

@media screen and (max-width: 900px) {

    .time-work__icon,
    .info-block__contacts-icon {
        padding-top: 0px;
    }
}

.info-block .icon img {
    height: auto;
}

.phone-number {
    font-size: 20px;
}

.phone-number a:hover {
    color: var(--theme-color);
    transition: all var(--time-transition);
}

@media screen and (max-width: 1000px) {
    .phone-number {
        font-size: inherit;
    }
}

.header-bottom {
    border-top: 3px solid #ebeeee;
    color: var(--color-font-main-gray);
}

.menu-items {
    --height-menu: 70px;
    display: flex;
    gap: 30px;
    height: var(--height-menu);
    line-height: var(--height-menu);
    align-items: center;
    /* width: 70%; */
    justify-content: space-around;
}

.menu-item {
    height: 100%;
    white-space: nowrap;
}

.burger-block {
    display: none;
}

.check-menu {
    display: none;
}

@media screen and (max-width: 1000px) {
    .menu-items {
        flex-direction: column;
        height: auto;
        gap: 10px;
        width: 100%;
        line-height: 1.6;
        margin-top: 100px;
        /* padding-right: 10%; */
        align-items: end;
        position: relative;
        top: var(--top-position-burger);
    }

    .burger-block {
        display: block;
        width: fit-content;
        height: 100%;
        position: relative;
    }

    .label-burger {
        position: absolute;
        top: 0%;
        right: 0%;
        width: 100%;
        height: 100%;
        cursor: pointer;
        z-index: 6;
    }

    .burger-icon {
        display: block;
        width: 40px;
        height: 33px;
        border-radius: 10px;
        position: relative;
        z-index: 5;
    }

    .burger-icon .burger__icon-stripe {
        visibility: visible;
        opacity: 1;
        top: 50%;
        transform: scale(1) translate(0px, -50%);
        transition: all 0.7s;
    }

    .burger-icon::after,
    .burger-icon::before {
        content: "";
    }

    .burger-icon::before {
        bottom: 0;
        transition: all 0.7s;
    }

    .burger-icon::after {
        top: 0;
        transition: all 0.7s;
    }

    .burger-icon .burger__icon-stripe,
    .burger-icon::after,
    .burger-icon::before {
        left: 0;
        position: absolute;
        height: 4px;
        width: 100%;
        border-radius: 10%/100%;
        background-color: var(--theme-color);
    }

    .check-menu:checked~.burger-icon .burger__icon-stripe {
        visibility: hidden;
        opacity: 0;
        transform: scale(0);
        transition: all 0.8s linear;
    }

    .check-menu:checked~.burger-icon::before {
        top: 53%;
        transform: rotate(-45deg) translate(0px, -50%);
        transition: all 0.7s;
    }

    .check-menu:checked~.burger-icon::after {
        top: 43%;
        transform: rotate(45deg) translate(0px, 50%);
        transition: all 0.7s;
    }

}

@media screen and (max-width: 500px) {
    .burger-block {
        align-self: baseline;
    }
}

.header-bottom .menu-item:hover {
    color: var(--theme-color);
    border-bottom: 5px solid var(--theme-color);
    transition: all var(--time-transition);
}

/* advantage */
.advantage {
    padding-bottom: 50px;
}

.advantage h1 {
    font-size: 60px;
    text-align: center;
    color: var(--theme-font-color);
    margin-bottom: 30px;
}

@media screen and (max-width: 1000px) {
    .advantage h1 {
        font-size: calc(var(--size-index) * 3.3 + 7px);
    }

    ;
}

.advantage-items {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.advantage-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px 20px;
}

@media screen and (max-width: 1000px) {
    .advantage-item {
        max-width: 25%;
        min-width: 220px;
    }

    .advantage-items {
        flex-wrap: wrap;
        gap: 20px 5px;
    }
}

@media screen and (max-width: 768px) {
    .advantage-items {
        justify-content: space-around;
        gap: 30px 15px;
    }

}


.advantage-item__wrapper {
    display: inline-block;
    /* Добавьте это, чтобы обертка занимала только ширину и высоту контента */
    position: relative;
}

.advantage-item__icon {
    font-size: 50px;
    width: 83px;
    height: 83px;
    border: 2px solid #cccccc;
    transform: rotate(45deg);
    border-radius: 7px;
    text-align: center;
    position: relative;
    margin: 0 auto;
    transition: all linear .35s;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.advantage-item__icon::before {
    display: block;
    transform: rotate(-45deg);
    color: var(--theme-color);
    font-size: 50px;
    transition: all linear .35s;
}

.advantage-item:hover .advantage-item__icon {
    transform: rotate(0deg);
    transition: all linear .35s;
    background-color: var(--theme-color);
    border-color: var(--theme-color);
}

.advantage-item:hover .advantage-item__icon::before {
    transform: rotate(0deg);
    transition: all linear .35s;
    color: var(--btn-bg-hover);
}

.advantage-item-content {
    font-size: 15px;
    text-align: center;
}

.advantage-item-content__title {
    margin-bottom: 15px;
}

@media screen and (max-width: 768px) {
    .advantage-item-content__title {
        font-size: 16px;

    }
}

.advantage-item-content__text {
    line-height: 1.5;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.7);
}


/* kind-fence */

.kind-fence-blocks {
    display: flex;
    flex-wrap: wrap;
    border-left: 1px solid #8d948f;
    border-top: 1px solid
}

.kind-fence .block {
    border-right: 1px solid #8d948f;
    border-bottom: 1px solid #8d948f;
    height: 290px;
    box-sizing: border-box;
    z-index: 3;
    padding-top: 56px;
    padding-bottom: 45px;
    text-align: center;
    transition: .5s background;
    position: relative;
    width: 25%;
    height: auto;
    font-size: 18px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media screen and (max-width: 1000px) {
    .kind-fence .block {
        justify-content: space-between;
        min-width: 180px;
    }

}

@media screen and (max-width: 900px) {
    .kind-fence .block {
        flex: 1;
    }

}

@media screen and (max-width: 768px) {
    .kind-fence .block {
        padding-top: 20px;
        padding-bottom: 15px;
    }
}

.kind-fence .block .image_block {
    height: 110px;
    margin-bottom: 5px;
}

.kind-fence .block .image_block .image_1,
.kind-fence .block .image_block .image_2 {
    width: 100%;
    height: 100%;
    /* position: absolute; */
    left: 0;
    top: 0;
}

.kind-fence .block .image_block .image_1 {
    opacity: 1;
    visibility: visible;
    transition: .5s opacity, .5s visibility;
}



.kind-fence .block .image_block .image_2 {
    opacity: 0;
    visibility: hidden;
    transition: .5s opacity, .5s visibility;
    width: 0;
    height: 0;
}

.kind-fence .block .price {
    transition: .5s opacity, .5s visibility;
    font-size: 18px;
}

.green_button {
    background-color: var(--theme-color);
    color: #000;
    font-weight: 500;
    text-align: center;
    display: block;
    position: relative;
    cursor: pointer;
    line-height: 43px;
    transition: .3s background-color;
}

.block .green_button {
    /* position: absolute; */
    margin-top: 37px;
    width: 195px;
    margin: 0 auto;
    /* left: 50%; */
    /* margin-left: -97px; */
    opacity: 0;
    visibility: hidden;
    transition: .0s opacity, .0s visibility, .0s background-color;
}

@media screen and (max-width: 1000px) {
    .block .green_button {
        opacity: 1;
        visibility: visible;
        width: fit-content;
        padding: 10px;
        line-height: 0.8;
        font-size: 15px;
    }
}

.block:hover .ah2,
.block:hover .image_block .image_1 {
    opacity: 0;
    visibility: hidden;
    width: 0;
    height: 0;
}

.block:hover .image_block .image_2 {
    width: 100%;
    height: 100%;
}

.block:hover .image_block .image_2,
.block:hover .price,
.block:hover .green_button {
    opacity: 1;
    visibility: visible;
}

.block:hover .green_button {
    transition: .5s opacity, .5s visibility, .3s background-color;

}

/* faq */

.faq-title {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}

@media screen and (max-width: 500px) {
    .faq-title {
        font-size: 6vw;
    }
}

.faq--margins {
    padding-top: 20px;
    padding-bottom: 20px;
}

.faq-accordion__wrapper,
.work-region .conteiner {
    border-radius: 7px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 15px;
}


.answer {
    /* opacity: 0; */
    /* visibility: hidden; */
    width: 100%;
    max-height: 0px;
    overflow: hidden;
    transition: var(--duration__open) max-height;
}

.accordion__item {
    position: relative;
}

.accordion__description {
    padding-left: 25px;
    padding-left: 25px;
    display: block;
    width: 100%;
    height: auto;
    position: relative;
}


.accordion__description::before {
    content: "+";
    position: absolute;
    left: 0;
    top: 0;
    font-size: 30px;
    font-weight: 900;
    line-height: 1;
    transform: rotate(0deg);
    transition: var(--duration__open) transform;
}

.ac-radio {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
}

.ac-radio:checked~label .answer {
    /* opacity: 1; */
    /* visibility: visible; */
    width: 100%;
    max-height: 500px;
    transform: rotate(0deg);
    transition: var(--duration__open) max-height;

}

.ac-radio:checked~.accordion__description::before {
    transform: rotate(135deg);
    transition: var(--duration__open) transform;
}

.accordion__item .question {
    font-size: 25px;
    font-weight: 700;
}

.accordion__item .answer {
    font-size: 21px;
    font-weight: 400;
}

@media screen and (max-width: 500px) {

    .accordion__item .question {
        font-size: 18px;
    }

    .accordion__item .answer {
        font-size: 15px;
    }

    .accordion__description::before {
        line-height: 0.7;
    }
}

.answer p {
    margin-top: 15px;
}

.answer p+p {
    margin-top: 10px;
}

.faq-title--margins {
    margin-bottom: 20px;
}

/* contact-form */

.contact-form__title {
    font-size: 40px;
    font-weight: 700;
}

.contact-form--margins {
    padding-top: 30px;
    padding-bottom: 30px;
}

@media screen and (max-width: 500px) {
    .contact-form__title {
        font-size: 6vw;
        margin-bottom: 20px;
    }

    .contact-form--margins {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

.contact-form__description {
    line-height: 1.5;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.7);
}

.contact-form-content {
    width: 100%;
    display: flex;
    gap: 30px;
    justify-content: space-between;
}

@media screen and (max-width: 1000px) {
    .contact-form-content {
        flex-wrap: wrap;
        align-items: center;
    }

}

.form {}

.form-wrapper {
    width: 100%;
    padding: 20px 0px;
    flex: 1;
}

.form-fields {
    display: flex;
    gap: 30px;
}

.form-fields input::placeholder {
    font-weight: 700;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    opacity: 0.5;
    color: var(--color-font-main-gray);

}

@media screen and (max-width: 500px) {
    .form-fields input::placeholder {
        font-size: var(--size-font);
    }

}

.form-field {
    border: 0;
    background: none;
    border-bottom: solid 1px #8c8c8c;
    width: 50%;
    margin-bottom: 60px;
    font-size: 18px;
    line-height: 45px;
    outline: none;
}



.form-field:focus {
    outline: none;
    border: 0px;
    border-bottom: solid 1px #8c8c8c;
}

@media screen and (max-width: 1000px) {
    .form-field {
        min-width: 210px;
        flex-wrap: wrap;
    }

}

@media screen and (max-width: 500px) {
    .form-fields {
        flex-wrap: wrap;
        gap: 0px 15px;
    }

    .form-field {
        flex: 1;
        margin-bottom: 20px;
    }
}


.contacts {}

.contacts-wrapper {
    border: 2px solid #dcdcdc;
    -webkit-border-radius: 5px;
    border-radius: 8px;
    padding: 30px 55px;
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px 0px;
}

.contacts-wrapper .phone-number {
    color: var(--theme-font-color);
    font-size: 35px;
    white-space: nowrap;
}

@media screen and (max-width: 500px) {
    .contacts-wrapper .phone-number {
        font-size: 20px;
        text-align: center;
    }
}

.contacts-wrapper .phone-number a:hover {
    color: var(--theme-font-color--hover);
}

.contacts-shedule-text {
    text-align: center;
    font-size: 20px;
}

.shedule-text--margins {
    margin-top: 20px;
}

@media screen and (max-width: 500px) {
    .shedule-text--margins {
        margin-top: 15px;
    }

    .contacts-shedule-text {
        font-size: inherit;
    }

}


.button {
    border: 0px;
    font-size: 20px;
    font-weight: 700;
    font-family: Roboto, sans-serif;
    padding: 14px 51px;
    /* line-height: 23px; */
    text-transform: uppercase;
    color: var(--color-font-light);
    background: var(--theme-font-color);
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: none;
    outline: none;
}

.button:hover {
    background-color: var(--btn-bg-hover);
    border-color: var(--btn-bg-hover);
    transition: all var(--time-transition);
}

.button:active {
    transform: scale(0.98);
}

.header .button {
    padding: 14px 20px;
}

@media screen and (max-width: 1280px) {
    .header .button {
        font-size: 1.1vw;
    }

}

@media screen and (max-width: 1000px) {
    .header .button {
        font-size: 1.6vw;
    }
}

@media screen and (max-width: 500px) {
    .header .button {
        align-self: flex-start;
    }
}

.submit-btn {
    width: fit-content;
    margin: 0 auto;
    width: 100%;
}

.submit-btn .button {
    width: 100%;
}

@media screen and (max-width: 500px) {
    .submit-btn .button {
        padding: 14px 20px;
        font-size: inherit;
    }
}

/* work-region */

.work-region--margins {
    padding: 30px 0px;
}

.work-region .conteiner {
    padding: 25px 30px;
    margin: 20px auto;
    /* border: 1px solid var(--color-border-light-gray); */
    background: var(--color-font-light);
}

.work-region__conteiner {
    border-left: 5px solid var(--theme-font-color);
}

.list-cities--margins {
    margin-top: 15px;
}

.list-cities ul {
    display: flex;
    color: var(--theme-font-color);
    gap: 20px 10px;
}

.list-cities li:not(:last-child) {
    padding-right: var(--padding-cities);
}

.list-cities ul li:first-child {
    border-right: 1px solid var(--color-font-main-gray);
}

.list-cities ul li+li:not(:last-child) {
    border-right: 1px solid var(--color-font-main-gray);
}

.list-cities li:hover {
    color: var(--theme-font-color--hover);
}

@media screen and (max-width: 900px) {
    .list-cities ul {
        flex-wrap: wrap;
    }
}

/* footer */
.footer {
    border-top: 1px solid #b7b7b7;
    padding-top: 30px;
}

.footer-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px
}

@media screen and (max-width: 900px) {
    .footer-inner {
        flex-wrap: wrap;
    }
}

.trade-mark {
    font-size: calc(var(--size-font) * 0.8);
}

.politic-link {
    color: #000000;
    transition: var(--time-transition) color;
    padding-left: 5%;
}

.politic-link:hover {
    color: var(--theme-font-color--hover);
    transition: var(--time-transition) color;
}

.soc-icon::before {
    font-size: 35px;
    border-radius: 50%;
    text-align: center;
    border: 1px solid #b7b7b7;
    transition: all ease .45s;
    padding: 10px;
    color: var(--theme-font-color);
    cursor: pointer;
}

@media screen and (max-width: 500px) {
    .soc-icon::before {
        font-size: 20px;
    }
}

.soc-icon:hover::before {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
    transition: all ease .45s;
    border-color: transparent;
    color: var(--theme-font-color--hover);
}

.soc-list {
    display: flex;
    gap: 20px;
}

.call-now h2 {
    font-size: 40px;
    font-weight: 700;
}

@media screen and (max-width: 500px) {
    .call-now h2 {
        font-size: calc(var(--size-font) * 1.33);
    }
}

.call-now p {
    font-size: calc(var(--size-font) * 0.8);
    font-weight: 500;
}

.develop {
    margin-top: 20px;
    color: #996969;
    font-size: calc(var(--size-font) * 0.7);
}

.fixbutton {
    position: fixed !important;
    margin: 0 !important;
    bottom: 20px;
    right: 20px;
}

.dingovaila-besticsia {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    padding: 15px 30px;
}

@keyframes radial-pulse {
    0% {
        box-shadow: 0 0 0 0px rgba(23, 22, 22, 0.5);
    }

    15% {
        box-shadow: 0 0 0 40px rgba(255, 255, 255, 0);
    }

    100% {
        box-shadow: 0 0 0 0px rgba(255, 255, 255, 0);
        ;
    }
}

.calculate {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    border: 2.3px solid #acafb7;
    animation: radial-pulse 6s infinite;
    animation-delay: 2s;
    margin: 40px 0 30px 0;
}

@media screen and (max-width: 500px) {
    .calculate {
        font-size: inherit;
    }
}

/* install-description */

.install-description-inner {
    display: flex;
    gap: 20px;
}

@media screen and (max-width: 768px) {
    .install-description-inner {
        flex-wrap: wrap;
    }
}

.content-title {
    font-size: 35px;
}

.content-text strong {
    line-height: 180%;
}

.install-description-content {
    padding: 15px 20px 0px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media screen and (max-width: 1280px) {
    .install-description-content {
        width: 50%;
    }
}

@media screen and (max-width: 768px) {
    .install-description-content {
        flex: 1;
    }
}

.install-description-image {
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px 0px;
    width: 60%;
}

@media screen and (max-width: 768px) {
    .install-description-image {
        flex: 0 1 560px;
        margin: 0 auto;
    }
}

.install-description-image img {
    display: block;
    height: 100%;
    max-width: 100%;
    object-fit: cover;
}

.install-description-control {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.install-description-control .button {
    width: fit-content;
    font-size: 4vw;
}

.price-install {
    font-size: 30px;
    font-weight: 900;
}

@media screen and (max-width: 500px) {
    .price-install {
        font-size: 20px;
    }
}


/* install-steps */

@media screen and (max-width: 1000px) {
    .install-steps {
        padding-top: 30px;
    }
}

.install-steps-inner {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.title {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}

@media screen and (max-width: 500px) {

    .content-title,
    .title {
        font-size: 6vw;
    }
}

.steps-content {
    display: flex;
    gap: 20px;
}

.install-steps-item {
    width: 25%;
}

@media screen and (max-width: 1280px) {
    .steps-content {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .install-steps-item {
        width: auto;
        min-width: 220px;
        max-width: 305px;
    }
}

@media screen and (max-width: 1000px) {
    .steps-content {
        justify-content: space-evenly;
    }
}

.install-steps-item--margins {
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px 0px;
}

.install-steps__image-content {
    position: relative;
}

.install-steps__image-content img {
    max-width: 305px;
}

.install-steps__image-content .step-number {
    background: var(--theme-color);
    color: var(--color-font-light);
    left: 0;
    bottom: 13px;
    font-size: 35px;
    line-height: 43px;
    text-align: center;
    width: 37px;
    position: absolute;
}

.install-step-text {
    background: var(--bg-cards);
    box-sizing: border-box;
    min-height: 229px;
    height: fit-content;
    padding: 33px 20px 35px 26px;
    overflow: hidden;
}

.install-step-text h3 {
    font-size: 25px;
    text-align: left;
    margin-bottom: 15px;
}

@media screen and (max-width: 500px) {
    .install-step-text h3 {
        font-size: 5.1vw;
    }

}

.install-step-text .text {
    line-height: 1.5;
    font-weight: 400;
}

/* price-list */

.table-content {
    font-weight: 400;
}

.price-list-inner h2 {
    margin-bottom: 50px;
}

.table-body .table-item {
    width: 100%;
}

.table-body th {
    line-height: 46px;
    background: #f0f3f3;
    font-weight: 500;
}

.table-body td,
.table-body th {
    border: 1px solid #dddede;
    vertical-align: middle;
}

.table-body .table1 tr:first-child th:first-child {
    text-align: left;
    padding-left: 35px;
}

.table-body .table1 tr td:nth-child(n+1) {
    width: 167px;
}

.table-body .table1 tr td:first-child {
    text-align: left;
    padding-left: 20px;
    padding-right: 15px;
    width: 229px;
    box-sizing: border-box;
}

.table-body .table3 {
    max-width: 610px;
}

.table-body tr td {
    text-align: center;
    line-height: 44px;
}

.mobile-table {
    display: none;
}

@media screen and (max-width: 768px) {
    .table-item {
        display: none;
    }

    .mobile-table {
        display: block;
    }

    .mobile-table .ah2 {
        line-height: 17px;
        background: #f0f3f3;
        padding-left: 18px;
        padding-top: 13px;
        padding-bottom: 13px;
        padding-right: 55px;
        border-bottom: 1px solid #dddede;
        position: relative;
    }

    .mobile-table .ah2.cp:after {
        content: '';
        position: absolute;
        right: 20px;
        top: 19px;
        width: 10px;
        height: 6px;
        background: url(../img/svg/menu.svg) no-repeat;
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    .mobile-table .ah2.active:after {
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -webkit-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0);
    }

    .mobile-table .hide {
        display: none;
        border-top: 3px solid #abd809;
        border-bottom: 3px solid #abd809;
    }

    .mobile-table .hide.active {
        display: block;
    }

    .mobile-table .hide .double {
        line-height: 43px;
        padding: 0 18px;
        border-bottom: 1px solid #dddede;
        display: flex;
        justify-content: space-evenly;
    }

    .mobile-table .double .fright {
        width: 60%;
        text-align: center;
    }

    .mobile-table .hide .ah3 {
        background: #f0f3f3;
        padding: 13px 18px;
        border-bottom: 1px solid #dddede;
    }

    .mobile-table .hide.no_hide {
        display: block;
        border-bottom: 0;
    }
}

.table-body i {
    display: block;
}

.table-body .mark {
    padding-left: 33px;
    margin-top: 30px;
    position: relative;
    font-style: normal;
    color: #4c5b5c;
}

.table-body .mark::before {
    content: '*';
    position: absolute;
    left: 21px;
}

.table-name-list {
    display: flex;
}

@media screen and (max-width: 768px) {
    .table-name-list {
        flex-direction: column;
        width: 50%;
        min-width: max-content;
    }
}

.table-name-list .table-name {
    display: inline-block;
    vertical-align: top;
    font-size: 15px;
    line-height: 41px;
    color: #000;
    cursor: pointer;
    margin-right: -1px;
    border: 1px solid #dddede;
    padding: 0 27px;
}

.table-pagination {
    margin-bottom: 30px;
}

.table-pagination .table-name.active {
    font-weight: 700;
    color: #000;
    background: #abd809;
}

.table-body__wrapper {
    display: none;
}

.table-body__wrapper.active {
    display: block;
}

/* *,
*::before,
*::after {
    border: 5px solid red;
} */